/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* DEFINITION DU STYLE DE BASE */

/* Body et main */

body {
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	display: flex;
	flex-direction: column;

	width: 100%;
}

* {
	box-sizing: border-box;
}

main {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

/* HEADER */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* Ajout d'une classe permettant de cacher certains éléments */

.hidden {
	display: none !important;
}

/* Header lié à la modale */

.header-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	background-color: #000000;
	color: #FFFFFF;
	padding: 10px 0;
	margin-top: 0;
	width: 100%;

	position: fixed;
}

.edition-modal {
	display: flex;
	align-items: center;
	gap: 7px;
}

.header-modal button {
	border: none;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	background-color: #FFFFFF;
	font: inherit;
	padding: 10px 20px;
	border-radius: 60px;

	cursor: pointer;

}

/* Header de base */

.header-base {
	display: flex;
	justify-content: space-between;
	width: 1140px;
	padding: 50px 0;
}

/* AUTRES DETAILS GENERAUX */

/* Sections */

section {
	margin: 50px 0
}

/* Titres */

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/* Menus */

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

/* INTRODUCTION */

#introduction {
	display: flex;
	align-items: center;
	gap: 70px;
}

#introduction figure {
	flex: 1
}

#introduction figure img {
	flex: 1;
	display: block;
	margin: auto;
	width: 456px;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

.article-p {
	margin-bottom: 0.5em;
}

/* PORTFOLIO */

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 500px;
	padding-bottom: 10px;
	object-fit: cover;

}

/* Ajout des boutons filtre du portfolio */

#portfolio nav {
	display: flex;
	justify-content: center;
	padding: 25px 0 50px 0;
}

#portfolio nav ul {
	gap: 20px;
}

#portfolio li {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	font-size: 1.1em;

	padding: 10px 15px;
	border: solid 1px #1D6154;
	border-radius: 20px;
}

#portfolio li:hover, .selected {
	color: white !important;
	background-color: #1D6154;
	cursor: pointer;
}

/* CONTACT */

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact>*,
#login>* {
	text-align: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form,
.modal-wrapper-page-2 form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
.modal-wrapper-page-2 input,
.modal-wrapper-page-2 select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
.modal-wrapper-page-2 label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"],
#login input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

/* FOOTER */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* PAGE DE LOGIN */

a {
	text-decoration: none;
	color: inherit;
}

#login {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	height: 70vh;
	width: 400px;
}

#login input[type="submit"] {
	margin-top: 50px;
}

#forgotten {
	text-decoration: underline;
}

.active {
	font-weight: 700;
}

/* MODE ADMINISTRATEUR APRES LOGIN */

/* Ajout de la modale */

/* Global */

#modal {
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 85px;

}

.modal-wrapper-page-1,
.modal-wrapper-page-2 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #FFFFFF;
	border-radius: 10px;

	width: 620px;
	height: 710px;
}

.introduction-picture {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.porfolio-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.modified {
	display: flex;
	align-items: center;
	margin-left: 40px;
	gap: 5px;
	cursor: pointer;
}

.modified img {
	height: 20px;
}

.modified-picture {
	margin-left: 0;
	padding-top: 15px;
}

.modified-article {
	margin-left: 0;
	padding-bottom: 30px;
}

/* Page 1 de la modale */

/* Haut de la modale */

.modal-wrapper-page-1 {
	padding: 40px 90px;
	gap: 35px;
}

.cross {
	position: absolute;
	top: 30px;
	right: 30px;

	cursor: pointer;
}

#modal h3 {
	font-size: 26px;
}

/* Travaux sur la modale */

.modal-img {
	display: flex;
	justify-content: start;
	align-content: flex-start;
	flex-wrap: wrap;
	row-gap: 25px;
	column-gap: 10px;
	position: relative;
	padding-bottom: 15px;
	height: 420px;
	overflow-y: scroll;
}

.modal-img p {
	cursor: pointer;
}

.modal-minia {
	display: flex;
	justify-content: flex-end;
}

.modal-miniature-img {
	height: 105px;
	width: 73px;
	object-fit: contain;
	padding-bottom: 5px;
}

.modal-bin {
	position: absolute;
	margin-top: 5px;
	margin-right: 8px;
	padding: 5px;
	height: 25px;
	background-color: #000000;
	border-radius: 2px;

	cursor: pointer;
}

/* Bas de la modale */

.modal-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.modal-wrapper-page-1 input {
	border: none;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background-color: #1D6154;
	padding: 10px 50px;
	border-radius: 60px;

	margin-top: 15px;

	cursor: pointer;
}

.modal-bottom p {
	color: #D65353;
	cursor: pointer;
}

/* Modale page 2 - Formulaire */

select {
	background-color: #FFFFFF;
}

.modal-wrapper-page-2 {
	padding: 30px 0px;
	gap: 10px;
}

.arrow {
	position: absolute;
	top: 30px;
	left: 30px;

	cursor: pointer;
}

.modal-wrapper-page-2-header-icons {
	display: flex;
	justify-content: space-between;
}

.modal-wrapper-page-2-add-pic {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	background-color: #E8F1F6;
	padding: 30px 120px;
	border-radius: 3px;
	width: 427px;
}

.modal-wrapper-page-2-add-pic img {
	height: 70px;
	padding-bottom: 15px;
}

.modal-wrapper-page-2-add-pic input[type="file"] {
	display: none;
}

.modal-wrapper-page-2 label {
	margin: 2em 0 1em 0;
}

.modal-wrapper-page-2-add-pic label {
	border: none;
	padding: 15px 40px;
	border-radius: 50px;
	white-space: nowrap;

	background-color: #CBD6DC;
	font-family: 'Work Sans';
	color: #306685;

	cursor: pointer;
	margin: 0;
}

.modal-wrapper-page-2-add-pic p {
	font-size: 11px;
	color: #444444;
}

.modal-wrapper-page-2-details {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0px;
	padding-bottom: 40px;

}

#validate-button {
	margin-top: 5px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;

	background-color: #A7A7A7;
	border-radius: 60px;
	padding: 0px 100px;
	cursor: pointer;

	height: 40PX;
}

#img-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 205px;
}

#img-preview img {
	height: 100%;
	width: auto;
	object-fit: contain;
	align-self: center;
	padding-bottom: 0;
}